<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data of Plus in Airbnb</title>
    <link href="/static/css/mycss.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-slider-pips.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="/static/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="/static/map_js/jquery-ui.js"></script>
    <script src="/static/map_js/jquery-ui-slider-pips.js"></script>
    <script src="/static/map_js/citys.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASsHD7nSZFjvgeSCm9ycg5_Kcuil_7m1c&callback=initMap">
    </script>
    <script src="/static/map_js/map.js"></script>
    <script src="/static/map_js/echarts.js"></script>
    <style type="text/css">
      body,html{
        width: 100%;
        height: 100%;
        margin: 0px;
        background:white;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-brand" href="#">Airbnb Visualization</p>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/plus">Data View</a></li>
            <li><a href="/dataComp">Data Comparison</a></li>
            <li><a href="/dataTrend">Trend</a></li>
            <li class="active"><a href="/about">About Us</a></li>
        </ul>
    </div>
    </div>
</nav>
<h5>Our Document</h5>
</body>
</html>